<!DOCTYPE html>
<html>

<head>
  <title>计划管理系统</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <h1>打卡系统</h1>
  <ul class="list">
    <li>
      <span>ID</span>
      <span>内容</span>
      <span>时间</span>
      <span>总结</span>
      <span>操作</span>
    </li>
    <% for(var i = 0; i < title.length; i++){ %>
    <li>
      <span> <%= title[i].event_id %></span>
      <span> <%= title[i].event %></span>
      <span> <%= title[i].addtime %></span>
      <span> <%= title[i].summary %></span>
      <span>
        <button>删除</button>
        <button>修改</button>
      </span>
    </li>
    <% } %>
  </ul>
</body>

</html>